.box-container {
    height: 400px;
    width: 200px;
   background-color: rgb(169, 215, 233);
   padding: 10px;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1.5rem;
   align-items: center;
   margin: 1rem;
}


#user-img{
   height: 200px;
   /* width: 50%; */
    border-radius: 50%;
}