*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}
body{
  color: brown;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}