*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}
body{
  /* color: brown; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgb(55, 55, 67);
  color: aqua;
}